<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue列表渲染</title>
    <script src="../../vue.js"></script>
    <style>
      .activated {
        color: red;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- <div id="app">
      <!-- <div v-show="show">{{ message }}</div> -->
    <!-- <div v-if="show">{{ message }}</div>
      <div v-else>我是else</div>
    </div> -->
    <div id="app">
      <!-- <div v-show="show">{{ message }}</div> -->
      <!-- <div v-for="(item, index) of list" :key="item.id">
        {{ item.text }}---{{ index + 1 }}
      </div> -->

      <!-- <div v-for="(item, index) in UserInfo" :key="index">
        {{ item }}
      </div> -->
      <table>
        <tbody>
          <tr is="row"></tr>
          <tr is="row"></tr>
          <tr is="row"></tr>
        </tbody>
      </table>
    </div>
    <script>
      // var app = new Vue({
      //   el: "#app",
      //   data: {
      //     // list: ["hello", "word", "fee", "tdd", "likai"]
      //     list: [
      //       {
      //         id: "1",
      //         text: "likai"
      //       },
      //       {
      //         id: "2",
      //         text: "liliang"
      //       },
      //       {
      //         id: "3",
      //         text: "pengzhen"
      //       }
      //     ]
      //   },
      //   methods: {}
      // });
      // app.$set(app.list, "shanshan", "shanshan");
      // 创建一个组件
      Vue.component("row", {
        template: `<tr>闪闪是个猛子</tr>`
      });

      var app = new Vue({
        el: "#app",
        data: {
          UserInfo: [1, 2, 3, 4, 5, 6]
        }
      });
    </script>
  </body>
</html>
